<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="./components/fesstyle.css">
</head>
<body>
    <div class="image-container">
        <img src="./Images/col office/cc1.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/col office/cc2.jpg" alt="Image 2" class="image" onclick="openFullscreen(this)">
        <img src="./Images/col office/cc3.jpg" alt="Image 3" class="image" onclick="openFullscreen(this)">
        <img src="./Images/col office/cc4.jpg" alt="Image 4" class="image" onclick="openFullscreen(this)">
        <img src="./Images/col office/cc5.jpg" alt="Image 5" class="image" onclick="openFullscreen(this)">
        <img src="./Images/col office/cc6.jpg" alt="Image 6" class="image" onclick="openFullscreen(this)">
        <img src="./Images/col office/cc7.jpg" alt="Image 7" class="image" onclick="openFullscreen(this)">
        <img src="./Images/col office/cc8.jpg" alt="Image 8" class="image" onclick="openFullscreen(this)">
        <img src="./Images/col office/cc9.jpg" alt="Image 9" class="image" onclick="openFullscreen(this)">
        <img src="./Images/col office/cc10.jpg" alt="Image 10" class="image" onclick="openFullscreen(this)">
        <img src="./Images/col office/cc11.jpg" alt="Image 11" class="image" onclick="openFullscreen(this)">
        <img src="./Images/col office/cc12.jpg" alt="Image 12" class="image" onclick="openFullscreen(this)">
        <img src="./Images/col office/cc13.jpg" alt="Image 13" class="image" onclick="openFullscreen(this)">
        <img src="./Images/col office/cc14.jpg" alt="Image 14" class="image" onclick="openFullscreen(this)">
       
    </div>

    <div id="fullscreenModal" class="fullscreen-modal" onclick="closeFullscreen()">
        <img id="fullscreenImage" class="fullscreen-image" src="" alt="Fullscreen Image">
    </div>

    <p class="disclaimer">
        Disclaimer: Images are used for educational purposes only. All rights belong to their respective owners.
    </p>

    <script src="./components/fes.js"></script>
</body>
</html>
