<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="./fesstyle.css">
</head>
<body>
    <div class="image-container">
        <img src="./Images/formal wear/f1.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/formal wear/f2.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/formal wear/f3.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/formal wear/f4.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/formal wear/f5.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/formal wear/f6.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/formal wear/f7.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/formal wear/f8.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/formal wear/f9.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/formal wear/f10.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/formal wear/f11.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/formal wear/f12.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/formal wear/f13.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
        <img src="./Images/formal wear/f14.jpg" alt="Image 1" class="image" onclick="openFullscreen(this)">
       
       
    </div>
    <div id="fullscreenModal" class="fullscreen-modal" onclick="closeFullscreen()">
        <img id="fullscreenImage" class="fullscreen-image" src="" alt="Fullscreen Image">
    </div>
    <p class="disclaimer">
        Disclaimer: Images are used for educational purposes only. All rights belong to their respective owners.
    </p>
    <script src="./fes.js"></script>
</body>
</html>
